@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/instrument-sans";
@import "@fontsource-variable/bricolage-grotesque";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: "Bricolage Grotesque Variable", sans-serif;
  --font-sans: "Instrument Sans Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-page: var(--page);
  --color-skeleton: var(--skeleton);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.2);
  --radius-2xl: calc(var(--radius) * 1.4);
  --radius-3xl: calc(var(--radius) * 1.6);
  --radius-4xl: calc(var(--radius) * 1.8);
}

:root {
  --background: #ffffff;
  --primary: #6267b5;
  --primary-foreground: #f8f8fc;

  --page: #f7f7f9;

  --card: #ffffff;
  --card-foreground: #1c1b20;

  --popover: #ffffff;
  --popover-foreground: #1c1b20;

  --primary: #6267b5;
  --primary-foreground: #f8f8fc;

  --secondary: #f3f3f6;
  --secondary-foreground: #66666f;

  --muted: #f3f3f6;
  --muted-foreground: #6f6f78;

  --accent: #f0f0fa;
  --accent-foreground: #555aa5;

  --destructive: oklch(0.577 0.245 27.325);

  --border: #e8e8ec;
  --input: #e8e8ec;
  /* --ring: #6267b5; */

  --chart-1: #6267b5;
  --chart-2: #8589d4;
  --chart-3: #555aa5;
  --chart-4: #444878;
  --chart-5: #2f3258;

  --radius: 0.625rem;

  --sidebar: #fafafa;
  --sidebar-foreground: #66666f;

  --sidebar-primary: #6267b5;
  --sidebar-primary-foreground: #f8f8fc;

  --sidebar-accent: #f0f0fa;
  --sidebar-accent-foreground: #555aa5;

  --sidebar-border: #e8e8ec;
  --sidebar-ring: #6267b5;

  --skeleton: #e9e9ef;
}

.dark {
  --background: #191a1f;
  --primary: #8589d4;
  --primary-foreground: #141519;

  --page: #141519;

  --card: #1c1d22;
  --card-foreground: #f5f5f7;

  --popover: #1c1d22;
  --popover-foreground: #f5f5f7;

  --primary: #8589d4;
  --primary-foreground: #17181d;

  --secondary: #25262c;
  --secondary-foreground: #a7a7b0;

  --muted: #25262c;
  --muted-foreground: #96969f;

  --accent: #252638;
  --accent-foreground: #aeb1e8;

  --destructive: oklch(0.704 0.191 22.216);

  --border: #2b2c32;
  --input: #303139;
  /* --ring: #8589d4; */

  --chart-1: #8589d4;
  --chart-2: #aeb1e8;
  --chart-3: #6d72c3;
  --chart-4: #555aa5;
  --chart-5: #3d416f;

  --sidebar: #191a1f;
  --sidebar-foreground: #a7a7b0;

  --sidebar-primary: #8589d4;
  --sidebar-primary-foreground: #17181d;

  --sidebar-accent: #252638;
  --sidebar-accent-foreground: #aeb1e8;

  --sidebar-border: #2b2c32;
  --sidebar-ring: #8589d4;

  --skeleton: #292a31;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-page text-foreground;
  }

  html {
    @apply font-sans;
  }
}
